<header class="hero-unit" id="banner" ng-show="!mc.searchExec">
  <div class="container">
    <h1>Sweet Tweetment.</h1>
    <p class="lead">Use sentiment analysis and Twitter to be there for your friends when they need you the most.</p>
    <h2>Search your friends:</h2>
    <div class="input-group" ng-show="!mc.loggedIn()">
      <span class="input-group-addon" id="basic-addon1">@</span>
      <input type="text" ng-model="mc.username" class="form-control" placeholder="Enter your twitter handle..." aria-describedby="basic-addon1">
      <div class="input-group-btn">
        <button ng-click="mc.addFollowersFromHandle(mc.username)" class="btn btn-default" type="button">Search</button>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5"></div>
      <div class="col-lg-2">
        <div class="input-group btn-block" ng-show="mc.loggedIn()">
          <button ng-click="mc.checkUpOnFriends()" class="btn btn-block btn-warning" type="button">Perform Checkup</button>
        </div>
      </div>
      <div class="col-lg-5"></div>
    </div>
    <h3>or</h3>
    <h2>Check by twitter handle:</h2>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">@</span>
      <input type="text" ng-model="mc.friendname" class="form-control" placeholder="Enter any twitter handle..." aria-describedby="basic-addon1">
      <div class="input-group-btn">
        <button ng-click="mc.addUserToCheck(mc.friendname)" class="btn btn-default" type="button">Add</button>
      </div>
    </div>
  </div>
</header>

<div class="container" ng-if="!mc.searchExec">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Users for Checkup</h1>
      <p ng-show="!mc.canCheckUsers()">Enter the twitter handle of someone you'd like to check up on in the search bar above.</p>
      <div class="col-lg-2" ng-repeat="(index, userToCheck) in mc.usersToCheck">
        <p>@{{userToCheck}} <a href ng-click="mc.removeUserToCheck(index)"><span class="glyphicon glyphicon-remove"></span></a></p>
      </div>
    </div>
  </div>
  <div class="row">
    <button ng-show="mc.canCheckUsers()" ng-click="mc.runSearch()" class="btn btn-info pull-right"><span class="glyphicon glyphicon-zoom-in"></span> Perform Checkup</button>
  </div>
</div>

<div class="container" ng-show="mc.searchExec">
  <div class="row" ng-show="mc.harrassSearchExec">
    <div class="col-lg-12">
      <h2>Harrassment Search Results</h2>
    </div>
    <div class="col-lg-2">
      <div class="input-group-btn">
        <button ng-click="mc.goBack()" class="btn btn-default" type="button">Back to Search</button>
      </div>
    </div>
    <div class="col-lg-12" ng-repeat="(receiver, tweets) in mc.tweetsToUsers">
      <div ng-show="mc.userVictimScores[receiver] > 0.05">
        <h2>{{receiver}}</h2>
        <h3 ng-style="mc.getColor(mc.friendsDepressScores[author])">Risk Level: {{mc.userVictimScores[receiver] | number:2}}</h3>
        <div ng-style="mc.getColorRect(mc.userVictimScores[receiver])">&nbsp;</div>
        <h4>Flagged tweets:</h4>
        <blockquote ng-repeat="(key, tweet) in tweets" ng-show="mc.tweetsToUsersScores[receiver][key] > 0.3">
          <p>{{tweet}}</p>
          <footer>Risk Level: <span ng-style="mc.getColor(mc.tweetsToUsersScores[receiver][key])">{{mc.tweetsToUsersScores[receiver][key] | number:2}}</span></footer>
        </blockquote>
        <h4><a target="_blank" href="https://twitter.com/intent/tweet?text={{mc.makeTweet(receiver)}}">Make a sweet tweet</a></h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Checkup Results</h1>
      <h3>Below you'll find users who have been flagged by our machine learning algorithms as at risk for potential trauma, depression, or just having a bad day. This tool is <b>not</b> meant to be used for diagnosis, but rather to encourage you to care for friends.</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2">
      <div class="input-group-btn">
        <button ng-click="mc.goBack()" class="btn btn-default" type="button">Back to Search</button>
      </div>
      <div class="input-group-btn">
        <button ng-click="mc.runHarrassmentSearch()" class="btn btn-info" type="button">Harrassment Search</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12" ng-repeat="(author, tweets) in mc.friendsTweets">
      <div ng-show="mc.friendsDepressScores[author] > 0.4">
        <h2>@{{author}}</h2>
        <h3 ng-style="mc.getColor(mc.friendsDepressScores[author])">Risk Level: {{mc.friendsDepressScores[author] | number:2}}</h3>
        <div ng-style="mc.getColorRect(mc.friendsDepressScores[author])">&nbsp;</div>
        <h4>Flagged tweets:</h4>
        <blockquote ng-repeat="(key, tweet) in tweets" ng-show="mc.friendsTweetScores[author][key] > 0.7">
          <p>{{tweet}}</p>
          <footer>Risk Level: <span ng-style="mc.getColor(mc.friendsTweetScores[author][key])">{{mc.friendsTweetScores[author][key] | number:2}}</span></footer>
        </blockquote>
        <h4><a target="_blank" href="https://twitter.com/intent/tweet?text={{mc.makeTweet(author)}}">Make a sweet tweet</a></h4>
      </div>
    </div>
  </div>
</div>